.footer {
  ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    list-style-type: none;

    margin-bottom: 2rem;

    .copyright {
      position: absolute;
      bottom: -1.75rem;
      left: 50%;
      transform: translateX(-50%);

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    li {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    ul {
      margin-bottom: 1rem;

      .copyright {
        position: relative;
        bottom: 0;
        left: 0;
        transform: translateX(0);
      }

      li {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    ul {
      width: 40rem;
      max-width: 40rem;
      place-content: space-between;

      li {
        font-size: 1.15rem;
      }
    }
  }
}
